<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>{{ title }}</title>
</head>
<body>
    <h1 class="title">MVC</h1>
    {% if current_user.is_authenticated %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                {% if current_user.has_role("admin") %}
                <a class="navbar-item" href="{{ url_for('user.list_users') }}">
                    Lista de Usuarios
                </a>
                <a class="navbar-item" href="{{ url_for('animal.create_animal') }}">
                    Crear Animal
                </a>
                {% endif %}
                <a class="navbar-item" href="{{ url_for('user.profile', id=current_user.id) }}">
                    Perfil
                </a>
                <a class="navbar-item" href="{{ url_for('animal.list_animals') }}">
                    Lista de Animales
                </a>
                <a class="navbar-item" href="{{ url_for('user.logout') }}">
                    Cerrar Sesión
                </a>
            </div>
        </div>
    </nav>
    {% endif %}
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
