{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Iniciar Sesión</h1>
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <form method="post">
                <div class="field">
                    <label class="label">Nombre de Usuario</label>
                    <div class="control">
                        <input class="input" type="text" name="username" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Contraseña</label>
                    <div class="control">
                        <input class="input" type="password" name="password" required>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" type="submit">Iniciar Sesión</button>
                    </div>
                    <div class="control">
                        <a href="{{ url_for('user.create_user') }}" class="button is-info">Crear Usuario</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
